name: Continuous Delivery

on:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - uses: actions/checkout@v2

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Copy docker-compose.build.yml
        run: cp docker-compose.build.yml $HOME/docker-compose.build.yml

      - name: Create .env file
        run: |
          echo "LETSENCRYPT_EMAIL=${{ secrets.LETSENCRYPT_EMAIL }}" >> .env
          echo "LETSENCRYPT_HOST=${{ secrets.LETSENCRYPT_HOST }}" >> .env
          echo "VIRTUAL_HOST=${{ secrets.VIRTUAL_HOST }}" >> .env
          echo "VIRTUAL_PORT=${{ secrets.VIRTUAL_PORT }}" >> .env


      - name: Install ssh
        run: sudo apt-get install openssh-client

      - name: Build the stack
        run: docker-compose -f docker-compose.staging.yml build --build-arg NEXT_PUBLIC_API_BASE_URL=${{ secrets.NEXT_PUBLIC_API_BASE_URL }} --build-arg NEXT_PUBLIC_IMAGE_PROXY_URL=${{ secrets.NEXT_PUBLIC_IMAGE_PROXY_URL }}

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to dockerhub
        run: |
          docker-compose -f docker-compose.staging.yml push

      - name: stop containers
        run: docker-compose -f docker-compose.staging.yml down --volumes

      - name: Upload .env file to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_IP_USERNAME }}
          password: ${{ secrets.VPS_IP_PASSWORD }}
          source: ".env"
          target: "/path/to/pdffront"

      - name: Copy docker-compose.production.yml
        run: cp docker-compose.production.yml $HOME/docker-compose.production.yml

      - name: Upload docker-compose.production.yml to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_IP_USERNAME }}
          password: ${{ secrets.VPS_IP_PASSWORD }}
          source: "docker-compose.production.yml"
          target: "/path/to/pdffront"

      - name: Executing remote command and deployment to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_IP_USERNAME }}
          port: 22
          password: ${{ secrets.VPS_IP_PASSWORD }}
          script: |
            if ! command -v docker &> /dev/null; then 
              apt-get update
              apt-get install -y docker.io
            

              # Ensure Docker Compose is installed
              DOCKER_CONFIG=${DOCKER_CONFIG:-$HOME/.docker}
              mkdir -p $DOCKER_CONFIG/cli-plugins
              curl -SL https://github.com/docker/compose/releases/download/v2.27.0/docker-compose-linux-x86_64 -o $DOCKER_CONFIG/cli-plugins/docker-compose
              chmod +x $DOCKER_CONFIG/cli-plugins/docker-compose

              # Proceed with the deployment
              mkdir -p /path/to/pdffront/

            fi
            
            cd /path/to/pdffront/
            # Start necessary infrastructure services if not running
            for service in nginx-proxy acme-companion; do
                if [ ! "$(docker ps -q -f name=$service)" ]; then
                    echo "Starting $service..."
                    docker compose -f docker-compose.production.yml up $service -d
                fi
            done

            echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin
            docker compose -f docker-compose.production.yml pull pdf-fs-web
            docker compose -f docker-compose.production.yml up pdf-fs-web -d --remove-orphans

            docker system prune -af